.accordion {
  margin-top: -8px;

  @media (max-width: $mobile-max-width) {
    position: relative;
    margin-top: 0;
  }
}

.accordion__button {
  text-align: left;
  background-color: transparent;
  width: 100%;
  border: none;
  padding: 0;

  @media (max-width: $mobile-max-width) {
    box-sizing: border-box;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      outline: 1px solid rgba($basic-blue, 0.8);
      outline-offset: 10px;
    }
  }
}

.accordion__button--closed::before {
  @media (max-width: $mobile-max-width) {
    position: absolute;
    content: "";
    top: 30px;
    right: 18px;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-plus.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.accordion__button--opened::before {
  @media (max-width: $mobile-max-width) {
    position: absolute;
    content: "";
    top: 35px;
    right: 18px;
    width: 16px;
    height: 2px;
    background-image: url("../img/icon-minus.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.accordion__panel--closed {
  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.accordion__panel {
  @media (max-width: $mobile-max-width) {
    padding-top: 5px;
  }
}
