.accordion {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  margin-top: -8px;
}

.accordion__button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

summary {
  list-style: none;
  // pointer-events: none;
}

// summary::-webkit-details-marker {
//   display: none
// }
