.advantages {
  width: 1170px;
  margin: 0 auto 76px;
  padding-top: 112px;

  @media (max-width: $median-desktop-width) {
    width: 920px;
  }

  @media (max-width: $tablet-max-width) {
    width: 720px;
    padding-top: 54px;
    margin-bottom: 25px;
  }

  @media (max-width: $mobile-max-width) {
    width: auto;
    padding-top: 37px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 37px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
  }
}

.advantages__item {
  position: relative;
  width: 570px;
  min-height: 299px;
  box-sizing: border-box;
  padding-left: 42px;
  padding-top: 93px;
  margin-bottom: 30px;
  border: 1px solid #ebebeb;
  border-left: 3px solid $basic-blue;
  background-color: $basic-light;
  z-index: 1;

  &:nth-child(odd) {
    margin-right: 30px;
  }

  &::before {
    position: absolute;
    content: "";
    left: 42px;
  }

  @media (max-width: $median-desktop-width) {
    width: 445px;
  }

  @media (max-width: $tablet-max-width) {
    width: 345px;
    padding-left: 25px;
    padding-top: 65px;
    border-left: 2px solid $basic-blue;

    &--delay,
    &--suppliers {
      min-height: 306px;
    }

    &--confidentiality,
    &--price {
      min-height: 232px;
    }

    &::before {
      left: 25px;
    }
  }

  @media (max-width: $mobile-max-width) {
    width: auto;

    &:nth-child(odd) {
      margin-right: 0;
    }

    &--delay,
    &--suppliers {
      min-height: 310px;
    }

    &--confidentiality {
      min-height: 232px;
    }

    &--price {
      min-height: 244px;
    }
  }

  @media (max-width: $mobile-min-width) {
    margin-bottom: 20px;
  }
}

.advantages__item--delay::before {
  top: 40px;
  width: 29px;
  height: 35px;
  mask-image: url("../img/icon-stopwatch.svg");
  background-color: $basic-blue;

  @media (max-width: $tablet-max-width) {
    top: 24px;
    width: 29.38px;
    height: 36.01px;
  }
}

.advantages__item--suppliers::before {
  top: 40px;
  width: 35px;
  height: 35px;
  mask-image: url("../img/icon-suppliers.svg");
  background-color: $basic-blue;

  @media (max-width: $tablet-max-width) {
    top: 23px;
    width: 31.72px;
    height: 32px;
  }
}

.advantages__item--confidentiality::before {
  top: 44px;
  width: 36px;
  height: 31px;
  mask-image: url("../img/icon-confidentiality.svg");
  background-color: $basic-blue;

  @media (max-width: $tablet-max-width) {
    top: 24px;
    width: 30.31px;
    height: 26px;
  }
}

.advantages__item--price::before {
  top: 40px;
  width: 35px;
  height: 35px;
  mask-image: url("../img/icon-tag.svg");
  background-color: $basic-blue;

  @media (max-width: $tablet-max-width) {
    top: 24px;
    width: 32.18px;
    height: 32px;
  }
}

.advantages__item-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $basic-blue;
  margin: 0;
  margin-bottom: 18px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 10px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages__item:hover {
  background-color: $basic-blue;
  border-color: $basic-blue;

  &::before {
    background-color: $basic-light;
  }

  .advantages__item-title,
  .advantages__text {
    color: $basic-light;
  }
}

.advantages__text {
  max-width: 485px;
  margin: 0;
  margin-bottom: 20px;

  @media (max-width: $tablet-max-width) {
    width: 297px;
  }

  @media (max-width: $mobile-max-width) {
    width: auto;
  }
}
