.button {
  display: block;
  font-family: "Roboto Condensed", "Helvetica", sans-serif;
  font-weight: 700;
  color: $basic-light;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
