.contact-us {
  display: flex;
  align-items: baseline;
  // align-items: flex-start;
  padding-top: 2px;
  padding-left: 50px;

  @media (max-width: $tablet-max-width) {
    padding-top: 8px;
    margin-top: 0;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 1px;
  }
}

.contact-us__mail-tel-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 15px;

  @media (max-width: $tablet-max-width) {
    padding-top: 4px;
  }
}

.contact-us__mail,
.contact-us__tel {
  display: block;
  text-decoration: none;
  color: $basic-light;
  line-height: 18px;
  padding-bottom: 5px;
}

.contact-us__tel {
  margin-left: 88px;

  @media (max-width: $tablet-max-width) {
    margin-left: 33px;
  }

  @media (max-width: $mobile-max-width) {
    margin-left: 21px;
  }
}

.contact-us__mail {
  margin-left: 50px;

  @media (max-width: $tablet-max-width) {
    margin-left: 30px;
  }
}

.contact-us__tel span,
.contact-us__mail span {
  position: relative;

  &:hover::before,
  &:focus::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    right: -6px;
    background-color: rgba(lighten($basic-blue, 30%), 0.4);
  }

  &:active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    right: -6px;
    background-color: rgba(saturate($basic-blue, 30%), 0.4);
  }

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.contact-us__tel span {
  bottom: 4px;
}

.contact-us__icon-mail,
.contact-us__icon-phone {
  fill: $basic-blue;
}

.contact-us__icon-phone {
  position: relative;
  margin-right: 6px;

  @media (max-width: $tablet-max-width) {
    width: 24px;
    height: 24px;
    margin-right: 0;
    margin-bottom: 10px;

    &:hover,
    &:focus {
      fill: lighten($basic-blue, 35%);
    }

    &:active {
      fill: darken($basic-blue, 20%);
    }
  }
}

.contact-us__icon-mail {
  position: relative;
  top: 2px;
  margin-right: 10px;

  @media (max-width: $tablet-max-width) {
    width: 25.33px;
    height: 18.67px;
    margin-bottom: 10px;
    margin-right: 0;

    &:hover,
    &:focus {
      fill: lighten($basic-blue, 35%);
    }

    &:active {
      fill: darken($basic-blue, 20%);
    }
  }
}

.contact-us__callback-wrapper {
  display: flex;
  align-items: flex-start;
}

.contact-us__callback {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 1px solid $basic-light;
  color: $basic-light;
  width: 180px;
  margin-left: 50px;
  margin-bottom: 10px;
  padding-top: 13px;
  padding-left: 25px;
  padding-right: 27px;
  padding-bottom: 15px;

  &:hover {
    border-color: lighten($basic-blue, 30%);
    color: lighten($basic-blue, 30%);
  }

  &:active {
    border-color: darken($basic-blue, 20%);
    color: darken($basic-blue, 20%);
  }

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}
