.page-footer {
  background-color: #fafafa;
}

.page-footer__inner {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  width: 1411px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 65px;

  @media (max-width: $median-desktop-width) {
    width: auto;
    padding-left: 22px;
    padding-right: 22px;
  }
}

.page-footer__logo-social {
  margin-right: 205px;
}

.page-footer__logo-full {
  // margin-left: -4px;
  margin-bottom: 45px;
}

.page-footer__copyright-top  {
  display: none;
}

.page-footer__address-title {
  margin: 0;

  span {
    font-size: 15px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1b2d37;
  }
}

.page-footer__address-text {
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: #1b2d37;
  opacity: 0.5;
  margin: 0;
}

.page-footer__break {
  position: relative;
  height: 1px;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(#353735, 0.2);
  }
}

.page-footer__bottom {
  display: flex;
  flex-wrap: wrap;
  width: 1411px;
  margin: 0 auto;

  @media (max-width: $median-desktop-width) {
    width: auto;
    padding-left: 22px;
    padding-right: 22px;
  }
}

.page-footer__reserved,
.page-footer__copyright-bottom,
.page-footer__conditions,
.page-footer__developed {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1B2D37;
  opacity: 0.5;
  margin: 0;
}

.page-footer__conditions a,
.page-footer__developed a {
  color: inherit;
  text-decoration: none;
}
