.page-main__wrapper {
  background-image: url("../img/triangles-desktop.svg");
  background-size: cover;
  background-position: 0 0;
  background-color: $basic-light;

  @media (max-width: $tablet-model-width) {
    background-image: url("../img/triangles-tablet.svg");
    background-position: 100px -150px;
  }
}
