$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-model-width: 750px;
$tablet-max-width: 1023px;
$max-desktop-width: 1920px;
$beyond-desktop-width: 1921px;

$basic-dark: #666666;
$basic-light: #ffffff;
$basic-blue: #00b2ff;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
